#content {
  width: 500px;
  background: url(../assets/images/bg.png) no-repeat;
}
#header {
  background: url(../assets/images/报表_1.png) no-repeat;
  color: #fff;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background-size: cover;
  background-position: center center;
}
.common{
  height: 100%;

}
.rightSan{
  color: #FDC767 !important;
  font-size: 23px;
}