#content {
  width: 500px;
  background: url(../assets/images/bg.png) no-repeat;
}
#header {
  background: url(../assets/images/仿真_content-tit-icon.png) no-repeat;
  color: #fff;
  width: 100%;
  height: 40px;
  line-height: 30px;
  font-size: 18px;
  float: left;
}
.title {
  padding-left: 35px;
}
